.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.related-cards {
    .related-cards-img {
        height: 280px;
    }
}

.our-values-cards {
    height: 464px;

    .value-cards-arrow {
        height: 52px;
        width: 52px;

        img {
            height: 13px;
        }
    }
}